<div class="master-layout">
  <div class="banner-menu">
    <.link navigate={~p"/"} class="banner-menu-item banner-logo">🍃 HyperArk</.link>
    <a href="#" class="banner-menu-item" aria-haspopup="true" aria-expanded="false">Characters ▾</a>
    <.link navigate={~p"/database"} class="banner-menu-item">Database</.link>
    <.link navigate={~p"/garden"} class="banner-menu-item">Garden</.link>
    <.link navigate={~p"/living-web"} class="banner-menu-item">Living Web</.link>
  </div>
  <div class="content-container">
    <div class="left-window">
      <GreenManTavernWeb.Components.MacUI.window_chrome title={assigns[:left_window_title] || "Tavern"} closable={false}>
        <div class="tavern-scene-sticky">
          <img src="/images/tavern_scene.png" alt="Green Man Tavern" style="width: 100%; display: block;" />
        </div>
        <div class="character-content">
          <%= if assigns[:left_content] do %>
            <%= @left_content %>
          <% else %>
            <p style="font-size: 11px; color: #666; padding: 8px;">
              Select a character to begin.
            </p>
          <% end %>
        </div>
      </GreenManTavernWeb.Components.MacUI.window_chrome>
    </div>
    <div class="right-window">
      <GreenManTavernWeb.Components.MacUI.window_chrome title={assigns[:right_window_title] || "Main"} closable={false}>
        <%= @inner_content %>
      </GreenManTavernWeb.Components.MacUI.window_chrome>
    </div>
  </div>
</div>


